﻿@model MvcApplication35.Models.SubscriberProfile

@{
    ViewBag.Title = "Additional Details";
}

<h1><em>Additional Details</em></h1><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubscriberProfile</legend>



        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)<br />
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)<br />
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)<br />
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">

            @Html.DropDownList("Gender", new List<SelectListItem>
       {
           new SelectListItem{ Text="Male", Value="Male"},
           new SelectListItem{ Text="Female", Value="Female"}
       }, "--- Select ---", new { @class = "form-control" })
        </div>
        <br />
        @*<div class="editor-label">
                 @Html.LabelFor(model => model.SubscribeChannels)
             </div>
             <div class="editor-field">

                 @Html.DropDownList("SubscribeChannels", new List<SelectListItem>
            {
                new SelectListItem{ Text="Business", Value="Business"},
                new SelectListItem{ Text="Finance", Value="Finance"},
                 new SelectListItem{ Text="News", Value="News"}
                  }, "--- Select ---", new { @class = "form-control" })

             </div>
             <br />*@
        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
