﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width" />
<title></title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="http://www.wallpaperscharlie.com/wp-content/uploads/2016/12/Business-Images-9-1.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>Business</b></h4>
                    <p>Get latest updates on Indian and International Stock Markets.Live Business,Economy and Financial News.Sensex, Nifty, BSE, NSE, forex news and updates.</p>

                    <p>
                        <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="Latest Updates >>" onclick="location.href='@Url.Action("Business", "Pages")'" />

                    </p>
                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="https://blog.xebialabs.com/wp-content/uploads/2015/01/news.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>News</b></h4>
                    <p>India's most trusted destination for latest India news,international news,top stories,interviews and more information is viewed here.</p>


                    <p>

                        <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="Latest Updates >>" onclick="location.href='@Url.Action("News", "Pages")'" /> </p>
                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="http://www.onlineschoolscenter.com/wp-content/uploads/2015/09/Screen-Shot-2015-09-21-at-10.31.38-AM.png" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>Finance</b></h4>
                    <p>Read latest news and analysis from Banks, FII's, NBFC, RBI, Reserve Bank, Insurance companies, Banking sector, business news and headlines are seen here.</p>

                    <p>

                        <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="Latest Updates >>" onclick="location.href='@Url.Action("Finance", "Pages")'" /></p>
                </div>
            </div><hr>
        </div>

    </div><hr>

                        <!-- Blog entry -->
              <!-- END BLOG ENTRIES -->

}
