﻿@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    }
</script>
<h2>Select the category of the file to be uploaded</h2>
<select id="UrlList" onchange="doNavigate()">
    <option value="">Select a Page...</option>
    <option value="@Url.Action("Business", "upload")">Business</option>
    <option value="@Url.Action("Finance", "upload")">Finance</option>
    <option value="@Url.Action("News", "upload")">News</option>
</select>
