﻿@{
    ViewBag.Title = "HirekView";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript">

        $(document).ready(function()
        {
            $("#slideshow > div:gt(0)").hide();
            setInterval(function()
            {
                $('#SlideshowImages > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#SlideshowImages');}, 3000);
        }
    </script>









</head>
<body>

    <header>

        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="~/Images/hirekkk.png" style="width:105px;height:50spx;" />
                </p>
            </div>
        </div>
        <div class="content-wrapper1">
            <div class="float-right">
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial1")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">


                @*<p>&copy; @DateTime.Now.Year - Hirek Application</p>*@
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

