﻿@model MvcApplication35.Models.SubscriptionDetail

@{
    ViewBag.Title = "Create";
  
}


<meta name="viewport" content="width=device-width" />
<title></title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="http://www.wallpaperscharlie.com/wp-content/uploads/2016/12/Business-Images-9-1.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>Business</b></h4>
                    <p>Get latest updates on Indian and International Stock Markets.Live Business,Economy and Financial News.Sensex, Nifty, BSE, NSE, forex news and updates.</p>
                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="https://blog.xebialabs.com/wp-content/uploads/2015/01/news.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>News</b></h4>
                    <p>India's most trusted destination for latest India news, international news, top stories, newspaper columns, discussions, interviews and more of the information is viewed here.</p>
                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="http://career.opcd.wfu.edu/files/2011/06/Corporate-Finance-and-Accounting_11.png" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>Finance</b></h4>
                    <p>Read latest news and analysis from Banks, FII's, NBFC, RBI, Reserve Bank, Insurance companies, Banking sector, business news and headlines are seen here.</p>
                </div>
            </div><hr>
        </div>

    </div><hr>

                        <!-- Blog entry -->
              <!-- END BLOG ENTRIES -->
    <fieldset>

        <legend>SubscriptionDetail</legend>


        @*<div class="editor-label">

                @Html.LabelFor(model => model.Emailid)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Emailid)
                @Html.ValidationMessageFor(model => model.Emailid)
            </div>*@

        @*<div class="editor-label">
                <center>
                    @Html.LabelFor(model => model.SubscriptionDetails)
                </center>
            </div>*@

        @*<div class="editor-field">
                @Html.EditorFor(model => model.SubscriptionDetails)
                @Html.ValidationMessageFor(model => model.SubscriptionDetails)
            </div>*@
        <div class="editor-label" align="center">
            <center>
                <p>
                    <strong>For more information, please subscribe!!!</strong>
                </p>
                @*@Html.LabelFor(model => model.SubscriptionDetails)*@
            </center>
        </div>
        <div class="editor-field">
            <center>
                @Html.DropDownList("SubscriptionDetails", new List<SelectListItem>
      {
          new SelectListItem{ Text="Business", Value="Business"},
          new SelectListItem{ Text="News", Value="News"},
           new SelectListItem{ Text="Finance", Value="Finance"}



      }, "      Available Channels      ", new { @class = "form-control" })
            </center>
        </div>
        <center>
            <p>
                <input class="w3-button w3-padding-large w3-white w3-border" type="submit" value="Subscribe" />
            </p>
        </center>

    </fieldset>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
