﻿@model MvcApplication35.Models.EmployeeProfile

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_HirekLayout.cshtml";
}

<h1><em>Register</em></h1>
<h3><em>Create a new account</em></h3><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeProfile</legend>



        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)<br />
            @Html.ValidationMessageFor(model => model.FirstName)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)<br />
            @Html.ValidationMessageFor(model => model.LastName)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.EMailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMailId)<br />
            @Html.ValidationMessageFor(model => model.EMailId)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)<br />
            @Html.ValidationMessageFor(model => model.Password)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)<br />
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">

            @Html.DropDownList("Gender", new List<SelectListItem>
       {
           new SelectListItem{ Text="Male", Value="Male"},
           new SelectListItem{ Text="Female", Value="Female"}
       }, "--- Select ---", new { @class = "form-control" })
        </div><br />

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
