﻿@{
    ViewBag.Title = "HomePage";
    Layout = null;
}


<h2>Welcome Employee</h2>

<p>
    Select you Desigination
</p>
<meta name="viewport" content="width=device-width" />
<title></title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">

                <img src="http://bfactuarios.com/wp-content/uploads/2014/03/banner_nif_01.jpg" style="width:100%">

                <div class="w3-container w3-white">

                    <h4><b>Content Provider</b></h4>
                    <p>Get latest updates on Indian and International Stock Markets.Live Business,Economy and Financial News.Sensex, Nifty, BSE, NSE, forex news and updates.</p>

                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="Content Provider" onclick="location.href='@Url.Action("Index", "upload")'" />
                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">

                <img src="http://www.intelligentranslation.com/wp-content/uploads/2015/06/image-for-Proofreading.jpg" style="width:100%">

                <div class="w3-container w3-white">
                    <h4><b>Proof Reader</b></h4>
                    <p>India's most trusted destination for latest India news, international news,discussions, interviews and more of the information is viewed here.</p>


                    @*<input class="w3-button w3-padding-large w3-white w3-border" type="submit"  value="Proof Reader" />*@
                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="Proof Read" onclick="location.href='@Url.Action("Index", "Proofread")'" />



                </div>
            </div><hr>
        </div>
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card-2 w3-margin w3-margin-top">
                <img src="~/Images/2017-03-22.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <em>
                        <strong>
                            If you focus on results you will never change,
                            If you focus on change will get your results
                        </strong>

                    </em>
                </div>

            </div><hr>
        </div>

    </div><hr>

                        <!-- Blog entry -->
              <!-- END BLOG ENTRIES -->



    @*<div class="editor-label">

            @Html.LabelFor(model => model.Emailid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Emailid)
            @Html.ValidationMessageFor(model => model.Emailid)
        </div>*@

    @*<div class="editor-label">
            <center>
                @Html.LabelFor(model => model.SubscriptionDetails)
            </center>
        </div>*@

    @*<div class="editor-field">
            @Html.EditorFor(model => model.SubscriptionDetails)
            @Html.ValidationMessageFor(model => model.SubscriptionDetails)
        </div>*@


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}