﻿@model MvcApplication35.Models.EmployeeProfile

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HirekLayout.cshtml";
}


<hgroup class="title">
    <h1><em>@ViewBag.Title</em></h1>
</hgroup>

@*<section id="loginForm">*@
<p><em><strong>Use a registered account to log in</strong></em></p>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.EMailId)
                @Html.TextBoxFor(m => m.EMailId)<br />
                @Html.ValidationMessageFor(m => m.EMailId)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)<br />
                @Html.ValidationMessageFor(m => m.Password)
            </li>

        </ol>

        <input type="submit" value="Log in" />
    </fieldset>
    @*<p>
            @Html.ActionLink("Create", "Employee") if you don't have an account.
        </p>
        <p>
            @Html.ActionLink("Reset", "ResetPass1") if you forgot password.
        </p>*@
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
