﻿@model IEnumerable<MvcApplication35.Models.Business>

@{
    ViewBag.Title = "BusinessList";
}

<h2>BusinessList</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.file)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Category)*@
                @{
        string txt = "";
        if (item.SubcategoryId == 1)
        {
            txt = "Technology";
        }
        else if (item.SubcategoryId == 2)
        {
            txt = "RealEstate";
        }
        else if (item.SubcategoryId == 3)
        {
            txt = "SmallBusiness";
        }
        else if (item.SubcategoryId == 4)
        {
            txt = "Contract";
        }
                }
                @Html.DisplayFor(modeItem => txt)

            </td>
            <td>
                @Html.ActionLink("Verify", "BusinessEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "BusinessDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "BusinessDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
