﻿@model MvcApplication35.Models.Business

@{
    ViewBag.Title = "BusinessDetails";
}

<h2>BusinessDetails</h2>

<fieldset>
    <legend>Business</legend>

    <div class="editor-field">
        @*<input type="file" name="file" />*@
        @{
            if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".jpg") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".gif") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".png"))
            {
                <img src="~/Content/Upload/Business/@Model.file" alt="image" width="100" />
                @Html.ValidationMessageFor(model => model.file)
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp3") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wav") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wma"))
            {
                <audio controls>
                    <source src="~/Content/Upload/Business/@Model.file" alt="audio" type="audio/mp3" />
                </audio>
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp4") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wmv") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".mpeg"))
            {
                <video height="500" width="700" controls>
                    <source src="~/Content/Upload/Business/@Model.file" alt="video" type="video/webm" width="300" height="300" />
                </video>
            }
        }
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubcategoryId)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.SubcategoryId)*@


        @*@Html.DisplayFor(model => model.Category)*@
        @{
            string txt = "";
            if (Model.SubcategoryId == 1)
            {
                txt = "Technology";
            }
            else if (Model.SubcategoryId == 2)
            {
                txt = "RealEstate";
            }
            else if (Model.SubcategoryId == 3)
            {
                txt = "SmallBusiness";
            }
            else if (Model.SubcategoryId == 4)
            {
                txt = "Contract";
            }
        }
        @Html.DisplayFor(model => txt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "BusinessEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "BusinessList")
</p>
