﻿@model MvcApplication35.Models.Business

@{
    ViewBag.Title = "BusinessDelete";
}

@*<h2>BusinessDelete</h2>*@

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Business</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.file)
    </div>
    <div class="editor-field">
        @*<input type="file" name="file" />*@
        @{
            if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".jpg") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".gif") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".png"))
            {
                <img src="~/Content/Upload/Business/@Model.file" alt="image" width="100" />
                @Html.ValidationMessageFor(model => model.file)
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp3") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wav") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wma"))
            {
                <audio controls>
                    <source src="~/Content/Upload/Business/@Model.file" alt="audio" type="audio/mp3" />
                </audio>
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp4") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wmv") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".mpeg"))
            {
                <video height="500" width="700" controls>
                    <source src="~/Content/Upload/Business/@Model.file" alt="video" type="video/webm" width="300" height="300" />
                </video>
            }
        }
    </div>


</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


