﻿@model MvcApplication35.Models.Finance

@{
    ViewBag.Title = "FinanceDetails";
}

<h2>FinanceDetails</h2>

<fieldset>
    <legend>Finance</legend>

    <div class="display-field">
        @*<input type="file" name="file" />*@
        @{
            if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".jpg") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".gif") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".png"))
            {
                <img src="~/Content/Upload/Finance/@Model.file" alt="image" width="100" />
                @Html.ValidationMessageFor(model => model.file)
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp3") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wav") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wma"))
            {
                <audio controls>
                    <source src="~/Content/Upload/Finance/@Model.file" alt="audio" type="audio/mp3" />
                </audio>
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp4") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wmv") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".mpeg"))
            {
                <video height="500" width="700" controls>
                    <source src="~/Content/Upload/Finance/@Model.file" alt="video" type="video/webm" width="300" height="300" />
                </video>
            }
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubcategoryId)
    </div>
    <div class="display-field">
        @{
            string txt = "";
            if (Model.SubcategoryId == 1)
            {
                txt = "Market";
            }
            else if (Model.SubcategoryId == 2)
            {
                txt = "Stocks";
            }
            else if (Model.SubcategoryId == 3)
            {
                txt = "Currency";
            }
            else if (Model.SubcategoryId == 4)
            {
                txt = "Economy";
            }
        }
        @Html.DisplayFor(modeItem => txt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "FinanceList")
</p>
