﻿@model IEnumerable<MvcApplication35.Models.Finance>

@{
    ViewBag.Title = "FinanceList";
}

<h2>FinanceList</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.file)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.SubcategoryId)*@
                @{
        string txt = "";
        if (item.SubcategoryId == 1)
        {
            txt = "Market";
        }
        else if (item.SubcategoryId == 2)
        {
            txt = "Stocks";
        }
        else if (item.SubcategoryId == 3)
        {
            txt = "Currency";
        }
        else if (item.SubcategoryId == 4)
        {
            txt = "Economy";
        }
                }
                @Html.DisplayFor(modeItem => txt)


            </td>
            <td>
                @Html.ActionLink("Verify", "FinanceEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "FinanceDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "FinanceDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

