﻿@model MvcApplication35.Models.Finance

@{
    ViewBag.Title = "FinanceEdit";
}

<h2>FinanceEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Finance</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.file)
        </div>
        <div class="editor-field">
            <input type="file" name="file" />
            @{
    if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".jpg") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".gif") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".png"))
    {
        <img src="~/Content/Upload/Finance/@Model.file" alt="image" width="100" />
                @Html.ValidationMessageFor(model => model.file)
    }
    else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp3") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wav") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wma"))
    {
        <audio controls>
            <source src="~/Content/Upload/Finance/@Model.file" alt="audio" type="audio/mp3" />
        </audio>
    }
    else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp4") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wmv") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".mpeg"))
    {
        <video height="500" width="700" controls>
            <source src="~/Content/Upload/Finance/@Model.file" alt="video" type="video/webm" width="300" height="300" />
        </video>
    }
            }
            @Html.ValidationMessageFor(model => model.file)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.SubcategoryId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SubcategoryId)
                @Html.ValidationMessageFor(model => model.SubcategoryId)
            </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "FinanceList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



