﻿@{

    ViewBag.Title = "Index";

}

<h2>Welcome</h2>

<script>

function doNavigate() {

window.location.href = document.getElementById("UrlList").value;

}

</script>

<h2>Select the category of the file to Proofread</h2>

<select id="UrlList" onchange="doNavigate()">

    <option value="">Select a Page...</option>

    <option value="@Url.Action("BusinessList", "Proofread")">Business</option>

    <option value="@Url.Action("FinanceList", "Proofread")">Finance</option>

    <option value="@Url.Action("NewsList", "Proofread")">News</option>

</select>