﻿@model MvcApplication35.Models.News

@{
    ViewBag.Title = "NewsDelete";
}

<h2>NewsDelete</h2>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>News</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.file)
    </div>
    <div class="editor-field">
        <input type="file" name="file" />
        @{
            if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".jpg") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".gif") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".png"))
            {
                <img src="~/Content/Upload/News/@Model.file" alt="image" width="100" />
                @Html.ValidationMessageFor(model => model.file)
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp3") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wav") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wma"))
            {
                <audio controls>
                    <source src="~/Content/Upload/News/@Model.file" alt="audio" type="audio/mp3" />
                </audio>
            }
            else if ((Model.file.Substring(Model.file.LastIndexOf('.')) == ".mp4") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".wmv") || (Model.file.Substring(Model.file.LastIndexOf('.')) == ".mpeg"))
            {
                <video height="500" width="700" controls>
                    <source src="~/Content/Upload/News/@Model.file" alt="video" type="video/webm" width="300" height="300" />
                </video>
            }
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubcategoryId)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.SubcategoryId)*@
        @{
            string txt = "";
            if (Model.SubcategoryId == 1)
            {
                txt = "Sports";
            }
            else if (Model.SubcategoryId == 2)
            {
                txt = "Education";
            }
            else if (Model.SubcategoryId == 3)
            {
                txt = "Weather";
            }
            else if (Model.SubcategoryId == 4)
            {
                txt = "Politics";
            }
        }
        @Html.DisplayFor(modeItem => txt)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "NewsList")
    </p>
}
