﻿@model IEnumerable<MvcApplication35.Models.News>

@{
    ViewBag.Title = "NewsList";
}

<h2>NewsList</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcategoryId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.file)
            </td>
            <td>
                @{
        string txt = "";
        if (item.SubcategoryId == 1)
        {
            txt = "Sports";
        }
        else if (item.SubcategoryId == 2)
        {
            txt = "Education";
        }
        else if (item.SubcategoryId == 3)
        {
            txt = "Weather";
        }
        else if (item.SubcategoryId == 4)
        {
            txt = "Politics";
        }
                }
                @Html.DisplayFor(modeItem => txt)
            </td>
            <td>
                @Html.ActionLink("Verify", "NewsEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "NewsDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "NewsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
