﻿@{
    ViewBag.Title = "Business";
    Layout = "~/Views/Shared/PagesLayout.cshtml";
}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }
</style>

<body class="w3-light-grey">


    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>BUSINESS</b></h1>
            <p>Welcome to the blog of <span class="w3-tag">Business</span></p>
        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://images.pond5.com/montage-images-touch-screen-technology-footage-012498244_prevstill.jpeg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Technology</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Get the latest Technology News: breaking news and analysis on computing, the web, blogs, games, gadgets, social media, broadband and more.

                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Technology", "AddPages")'" />
                               
                            </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://www.paarthinfra.com/images/home1.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Real Estate</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Find Latest Stories, Special Reports, News & Pictures on real estate. Read expert opinions, top news, insights and trends on Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("RealEstate", "AddPages")'" />

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://cdn.shutterstock.com/shutterstock/videos/4488521/thumb/2.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Small Business</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Know more about Small Business. Learn about Shop Small and its positive impact on local small businesses and neighborhoods all over the country.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("SmallBusiness", "AddPages")'" />
</p>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://il2.picdn.net/shutterstock/videos/20045521/thumb/1.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Contract</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Government Contracts & updates on developments affecting contracts, investigations & international trade are provided by Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Contract", "AddPages")'" />
</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
    @*</div>*@



</body>

