﻿@{
    ViewBag.Title = "Finance";
    Layout = "~/Views/Shared/PagesLayout.cshtml";
}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }
</style>

<body class="w3-light-grey">


    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>FINANCE</b></h1>
            <p>Welcome to the blog of <span class="w3-tag">Finance</span></p>
        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://sokodirectory.com/wp-content/uploads/2012/08/Khetias-Supermarket-Kitale-702x336.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Market</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Get latest market news, analysis, features and analysis on stock, derivatives, commodity and IPO markets. Get prices and quotes of equity shares from Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Market", "AddPages")'" />
</p>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://s3.india.com/wp-content/uploads/2014/06/a-large-screen-outside-bombay-stock-exchange-displays-live-telecast-of-union-finance2.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Stocks</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Keep Up with the Latest Stock Market News – Get Top News, Business, NSE/BSE & others.We offer updated news & analysis on Indian stock market, Share & Stock Market movements, India.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Stocks", "AddPages")'" />
                                </p> </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://www.midasletter.com/wp-content/uploads/2013/04/currency-wars-gold-bars-and-us-dollar-bills-are-pictured-in-a-safe-in-a-bank-in-vien-581x416.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Currency</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Hirek offers latest news & articles on Currency News India – Get updates on currency exchange Rates, currency exchange news online.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Currency", "AddPages")'" />
                                </p> </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/hand-holding-growing-pile-of-money-economic-growth.jpg?itok=Nkv5KCYA" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Economy</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            News on Indian Economy, Economic Indicators, Government Policy for Economy, Industries Fiscal & Monetary Measures from Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Economy", "AddPages")'" />
                                </p>   </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
    @*</div>*@



</body>

