﻿@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/PagesLayout.cshtml";
}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }
</style>

<body class="w3-light-grey">


    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>NEWS</b></h1>
            <p>Welcome to the blog of <span class="w3-tag">News</span></p>
        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2016/04/football-wallpaper-20-610x406.jpeg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Sports</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            The Hirek Sports gives you latest sports coverage, scores and milestones; covers all sporting events and provides key statistics
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Sports", "AddPages")'" />
                                </p></div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://footage.framepool.com/shotimg/qf/381985227-literatura-libro-de-texto-estanteria-de-libros-conocimiento.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Education</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Get the latest update on school, Colleges, b schools, registration, scholarships, exam results and Industry Updates only from Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Education", "AddPages")'" />
                                </p>  </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="http://www.scienceclarified.com/photos/weather-forecasting-3231.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Weather</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Get the weather forecast. Access hourly, 10 day and 15 day forecasts along with up to the minute reports and videos from Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Weather", "AddPages")'" />
                                </p> </div>

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="https://assets3.affairscloud.com/assets/uploads/2014/11/govt-seeks-parliaments-approval-for-additional-rs-7500-crore-spending_230813013111.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-padding-8">
                        <h3><b>Politics</b></h3>

                    </div>

                    <div class="w3-container">
                        <p>
                            Get latest news, breaking news, news live from states on politics, crime, society and governance from Hirek.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="READ MORE »" onclick="location.href='@Url.Action("Politics", "AddPages")'" />
                                </p> </div>

                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>






            <!-- END Introduction Menu -->
        </div>


        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
    @*</div>*@



</body>

