﻿@model IEnumerable<MvcApplication35.Models.Finance>
@{

    ViewBag.Title = "Currency";
    Layout = "~/Views/Shared/PagesLayout.cshtml";
}

<script>

    if ($("#SearchText").val() == null) {
        $("#item").hide();
    }

</script>
<style>
    .image {
        float: left;
    }

    p {
        color: white;
    }

    a:hover {
        cursor: pointer;
        background: -webkit-gradient(linear, left top, left bottom, from(#85B6F0), to(#579AEB)); /* for webkit browsers */
        background: -moz-linear-gradient(top, #85B6F0, #579AEB); /* for firefox 3.6+ */
        background: -o-linear-gradient(top, #85B6F0, #579AEB); /* for Opera */
    }

    #SearchText {
        margin-right: 10px;
        margin-top: -5px;
        border-style: groove;
    }

    #search {
        font-size: 11px;
        width: 60px;
        height: 37px;
        font-weight: bold;
        font-family: Arial;
        background-color: rgb(69, 115, 183);
        color: #ffffff;
    }

        #search:hover {
            cursor: pointer;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0', endColorstr='#579AEB'); /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#85B6F0), to(#579AEB)); /* for webkit browsers */
            background: -moz-linear-gradient(top, #85B6F0, #579AEB); /* for firefox 3.6+ */
            background: -o-linear-gradient(top, #85B6F0, #579AEB); /* for Opera */
        }
</style>


<h2>Currency</h2><br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div>
        @foreach (var item in Model)
        {
            if ((item.file.Substring(item.file.LastIndexOf('.')) == ".jpg") || (item.file.Substring(item.file.LastIndexOf('.')) == ".gif") || (item.file.Substring(item.file.LastIndexOf('.')) == ".png"))
            {
                <img src="~/Content/Upload/Finance/@item.file" alt="image" width="400" /><br />

            }
            else if ((item.file.Substring(item.file.LastIndexOf('.')) == ".mp3") || (item.file.Substring(item.file.LastIndexOf('.')) == ".wav") || (item.file.Substring(item.file.LastIndexOf('.')) == ".wma"))
            {
                <audio controls>
                    <source src="~/Content/Upload/Finance/@item.file" alt="audio" type="audio/mp3" />
                    <br />
                </audio>
            }
            else if ((item.file.Substring(item.file.LastIndexOf('.')) == ".mp4") || (item.file.Substring(item.file.LastIndexOf('.')) == ".wmv") || (item.file.Substring(item.file.LastIndexOf('.')) == ".mpeg"))
            {
                <video height="500" width="700" controls>
                    <source src="~/Content/Upload/Finance/@item.file" alt="video" type="video/webm" width="300" height="300" />
                    <br />
                </video>
            }


        }
    </div><br /><br />
    <input class="w3-button w3-padding-large w3-white w3-border" type="button" value="<<Back" onclick="location.href='@Url.Action("Finance", "Pages")'" />

}
